*{
    margin: 0;
    padding: 0;
}
body{
    background: black url(../img/backgroundLogin.webp) no-repeat;
    background-size: cover;
}
h1{
    color: white;
    padding: 20px;
}
    form{
        color: white;
        margin:  30px auto;
        width: 800px;
        padding: 0 20px 20px ;
        backdrop-filter: blur(25px);

        border: 1px solid white;
        border-radius: 10px;
    }