*{
    margin: 0;
    padding: 0;
}

    body{
        background: black url(../img/backgroundLogin.webp) no-repeat;
        background-size: cover;
    }
    main>div{
        padding: 0 20px;
        margin: 20px;
        backdrop-filter: blur(25px);

        border: 1px solid white;
        border-radius: 10px;
    }
    h1{
        display: inline-block;
        color: white;
        font-size: 2em;
        padding: 10px;
    }
    p{
        color: white;
    }
    img{
        background-color: white;
        border-radius: 3px;
    }
    input{
            display: block;
            height: 30px;
            width: 100%;

            border-radius: 10px;
            border: 1px solid white;
            background-color: transparent;

            transition: .3s;
        }
            input.inserir:hover{
                transform: translateY(-2px);
            }

    main a{
            display: block;
            margin: 20px auto;

            text-align: center;
            text-decoration: none;
            padding: 6px;
            width: 200px;
            height: 40px;

            background-color: rgb(183, 0, 255);
            color: white;
            border: 0;
            border-radius: 5px;
            transition: .3s;
        }
            main a:hover{
                background-color: rgb(240, 76, 255)
            }


        div.row{
            color: white;
        }