*{
    margin: 0;
    padding: 0;
}

body{
    display: flex;
    flex-flow: row nowrap;

    height: 100vh;
    width: 100vw;

    background: black url(../img/backgroundLogin.webp) no-repeat;
    background-size: cover;
}
    main{
        margin: auto;
        padding: 0 20px 20px ;
        backdrop-filter: blur(25px);

        border: 1px solid white;
        border-radius: 10px;
    }
        main > h1{
            border-radius: 0 0 15px 15px;
            width: 400px;
            margin: auto;

            padding: 5px;

            text-align: center;
            background-color: rgb(0, 0, 0);

            color: white;
        }
        main  input.inserir{
            display: block;
            height: 30px;
            width: 300px;

            padding: 10px;
            margin: 20px auto;

            border-radius: 20px;
            border-color: white;
            background-color: transparent;


            border-top: 0;
            border-left: 0;
            border-right: 0;
            transition: .3s;
        }
            input.inserir:hover{
                transform: translateY(-2px);
            }

        a{
            display: block;
            margin: 20px auto;

            text-align: center;
            text-decoration: none;
            padding: 6px;
            width: 200px;
            height: 40px;

            background-color: rgb(183, 0, 255);
            color: white;
            border: 0;
            border-radius: 5px;
            transition: .3s;
        }
            a:hover{
                background-color: rgb(240, 76, 255)
            }

        span{
            color: white;
        }